<div class="container">
  <div class="todo-wrapper">
    <div class="todo-list">

      <!-- Todo Title -->
      <div class="todo-title-wrapper">
        <span class="todo-title">{{ list_name }}</span>
        <span class="line"></span>
      </div>

      <!-- Todo Input Bar -->
      <div class="todo-input-wrapper">
        <input type="text" name="todo" [(ngModel)]="todo_title" placeholder="Add a Task" class="todo-input" (keyup.enter)="addTodo()">
        <button type="button" name="addTodo" class="todo-input-button" (click)="addTodo()">Add</button>
      </div>

      <!-- Angular Material Drag-Drop List -->
      <div cdkDropList (cdkDropListDropped)="drop($event)" class="todo-drag-list">
        <div class="todo-box" *ngFor="let todo of todos" cdkDrag [cdkDragDisabled]="active">
          <todo [todo]="todo" (deleted)="onDelete($event)" (edited)="onEdit($event)" (selected)="onSelect($event)"></todo>
        </div>
      </div>

      <!-- Notify user about data fetching -->
      <ng-template #noItems>
        <div>
          Fetching items...
        </div>
      </ng-template>

    </div>
  </div>
</div>
