/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

$color1: #D3F6DB;
$color2: #92D5E6;
$color3: #792359;
$color4: #D72483;
$color5: #FD3E81;
